html {
  scroll-behavior: smooth
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');





html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;

  font-size: 47px;
}

/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/*Navbar*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 30px;
  font-weight: 400;
  color: #475569;

}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 35px;
  font-weight: 500;
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/*Banner*/
#banner {
  width: 100%;
  margin: auto;
  display: block;
  padding-top: 2rem;
  padding-bottom: 0;


}


/*About me*/
#About-me {
  text-align: center;
  margin: auto;
  padding: 0 12rem;
  font-family: 'Playfair Display', serif;
  font-size: 62.5%;
  font-size: 22px;
}






/* Scroll Bar*/
html::-webkit-scrollbar {
  background-color: rgb(41, 40, 40);
  width: 10px;
  overflow-x: hidden;
}

html::-webkit-scrollbar-track {
  color: rgb(0, 0, 0);
}

html::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 50px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(104, 99, 99);
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(104, 99, 99);
  border-radius: 20px;
}

/* scroll end

/* From cssbuttons.io by @alexmaracinaru */
.cta {
  display: block;
  border: none;
  background: none;
  /* padding-left: 33rem;*/
  margin-left: auto;
  margin-right: auto;

}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 10px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*-------------------footer------------------*/
footer {
  display: block;
  justify-content: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding-bottom: 5rem;
  height: 0;
  /* Height of the footer */
  padding-top: 2rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: -2rem;
  margin-left: -2rem;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  padding-left: 1.5rem;
}

footer a:hover {
  font-weight: bold;
  /* letter-spacing: 0.15rem; */
}

/*--------------end footer -----------------------*/